#body {
    background-color: rgb(186, 208, 248);
}

#welcome{
    background-color: aqua;
    text-align: center;
}

#introduction{
    background-color: orchid;
    text-align: center;
}

#images{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#links{
    background-color: darksalmon;
    text-align: center;
}

#truthsandlie{
    background-color: lightcoral;
    text-align: center;
}

#lie{
    background-color: aliceblue;
    text-align: center;
}