#body {
    background-color: #bad0f8;
}

#welcome{
    background-color: aqua;
    text-align: center;
}

#introduction{
    background-color: orchid;
    text-align: center;
}

#images{
    margin-left: 40%;
    width: 25%;
}

#links{
    background-color: darksalmon;
    text-align: center;
}

#truthsandlie{
    background-color: indianred;
    text-align: center;
}

#lie{
    background-color: aliceblue;
    text-align: center;
}

#trutha{
    background-color: aquamarine;
    text-align: center;
}

#truthb{
    background-color: dodgerblue;
    text-align: center;
}

#answer{
    background-color: #64a864;
    text-align: center;
}